.cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: var(--campervanHorizontalLine);
}
.cards__item {
  border: 1px solid #8183d6;
  position: relative;
  width: 17rem;
  height: 22rem;

  border-radius: 10px;
  margin-bottom: 9rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #8183d6;
  padding: 2rem 0.5rem;
}
.cards__icon {
  position: absolute;
  top: -23.5%;
  left: 50%;
  width: 30%;
  transform: translateX(-50%);
}
.cards__iconLittle {
  top: -18%;
}
.cards__image {
  width: 100%;
}
.cards__highlighted {
  color: #ffbd52;
  margin: 1rem auto;
}
.cards__heading {
  font-size: 2.5rem;
}
.cards__itemRight {
  margin-left: auto;
}

.cards__planets {
  width: 15rem;
  height: 10rem;
  margin-left: auto;
}
.cards__itemMargened {
  margin-top: 4rem;
}
.cards__line {
  width: var(--campervanHorizontalLine);
  height: 1.5px;
  background-color: #8183d6;
  position: absolute;
}
.cards__lineTop {
  top: 10%;
  left: -59.5%;
}
.cards__lineBottom {
  bottom: 10%;
  left: -59.5%;
}
.cards__circle {
  width: 7px;
  height: 7px;
  border-radius: 50%;
  position: absolute;
  background-color: #ffbd52;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
@media only screen and (min-width: 481px) and (max-width: 767px) {
  .cards__item {
    width: 13rem;
    height: 18rem;
    padding: 0;
    font-size: 0.9rem;
  }

  .cards__heading {
    font-size: 1rem;
  }
  .cards__planets {
    width: 9rem;
    height: 5.5rem;
  }
  .cards__item {
    margin-bottom: 5rem;
  }
  .cards__lineTop {
    left: -23.5%;
  }
  .cards__lineBottom {
    bottom: 12%;
    left: -23%;
  }
  .cards__icon {
    top: -21.5%;
  }
  .cards__iconLittle {
    top: -16%;
  }
}
@media only screen and (min-width: 320px) and (max-width: 480px) {
  .cards__item {
    width: 9rem;
    height: 13rem;
    padding: 0;
    font-size: 0.7rem;
  }

  .cards__heading {
    font-size: 1rem;
  }
  .cards__planets {
    width: 9rem;
    height: 5.5rem;
  }
  .cards__item {
    margin-bottom: 5rem;
  }
  .cards__lineTop {
    left: -23.5%;
  }
  .cards__lineBottom {
    bottom: 12%;
    left: -23%;
  }
  .cards__icon {
    top: -21.5%;
  }
  .cards__iconLittle {
    top: -16%;
  }
}
