.line {
  width: 90%;
  margin: 9rem auto;
  height: 2px;
  background-color: #13699b;
  position: relative;
}

.line__items {
  display: flex;
  justify-content: space-between;
  color: #13699b;
  position: absolute;
  top: -85px;
  width: 100%;
}
.line__circle {
  width: 0.3rem;
  height: 0.3rem;
  background-color: #ffbd52;
  display: inline-block;
  margin: 2rem 0;
  border-radius: 50%;
  transform: translateY(-12%);
}
.line__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.line__circleVan {
  position: relative;
  width: 5rem;
  top: -48px;
  background-color: transparent;
}
.line__van {
  width: 100%;
}

.line__flagPositioned {
  position: relative;
  top: -20px;
}
.description {
  width: 80%;
  margin: auto;
  color: #ffbd52;
  font-weight: bold;
  font-size: 1.2rem;
  text-align: center;
}
.title {
  width: 70%;
  color: #13699b;
  text-align: center;
  margin: 1rem auto 4rem;
}
.main__lineVertical {
  display: flex;
  flex-direction: column;
  align-items: center;
  left: 50%;
  margin-bottom: 4rem;
}
.lineVertical__line {
  width: 1.5px;
  height: 10rem;
  position: relative;
  background-color: #13699b;
}
.lineVertical__circle {
  width: 0.3rem;
  height: 0.3rem;
  background-color: #ffbd52;
  border-radius: 50%;
  position: absolute;
  transform: translate(-35%, -50%);
  margin: 0;
}
.line__circleFirst {
  top: 0;
}
.line__circleLast {
  bottom: -6px;
}
