.whyUs {
  background-image: url("../../images/Footer.png");
  background-size: cover;
  background-position: bottom;
  border-radius: 1rem;
  position: relative;
  text-align: center;
  color: #fff;
  margin-bottom: 13rem;
  overflow: visible;
  padding: 2rem;
}
.whyUs__heading {
  font-size: 2.5rem;
}
.whyUs__planets {
  position: absolute;
}
.whyUs__planetsRight {
  right: -31%;
  bottom: -42%;
}
.whyUs__planetsLeft {
  left: -22%;
  top: -27%;
}

.whyUs__highlighted {
  font-weight: bold;
  margin: 2rem auto;
  width: 75%;
}
.whyUs__details {
  width: 75%;

  margin: auto;
  margin-bottom: 2rem;
}
.whyUs__button {
  position: absolute;
  bottom: 0;
  right: 50%;
  transform: translate(50%, 50%);
}
@media only screen and (min-width: 481px) and (max-width: 767px) {
  .whyUs {
    padding: 1rem 0;
  }
  .whyUs__heading {
    font-size: 1.5rem;
  }
  .whyUs__highlighted,
  .whyUs__details {
    width: 85%;
  }
  .whyUs__planets img {
    width: 55%;
  }
}
@media only screen and (min-width: 320px) and (max-width: 480px) {
  .whyUs {
    padding: 1rem 0;
  }
  .whyUs__heading {
    font-size: 1.5rem;
  }
  .whyUs__highlighted,
  .whyUs__details {
    width: 85%;
  }
  .whyUs__planets img {
    width: 55%;
  }
}
