.about {
  height: 55vh;
  background-image: url("../../images//Footer.png");
  background-size: cover;
  background-position: center;
  border-radius: 1rem;
  text-align: center;
  vertical-align: center;
  color: #fff;
  padding: 2rem;
}
.about h3 {
  font-size: 2rem;
  margin: 2rem auto;
}
.about p {
  width: 50%;
  margin: 2rem auto;
}
.about button {
  outline: none;
  width: 7rem;
  border-radius: 20px;
  padding: 0.5rem;
  background-image: linear-gradient(to right, #8181d5, #67fdec);
  color: #fff;
}

@media (min-width: 320px) and (max-width: 480px) {
  .about {
    height: 60vh;
  }
  .about p {
    width: 100%;
  }
}
