.joinUs {
  background-color: #fdbe53;
  color: #fff;
  border-radius: 2rem;
  height: 20vh;
  display: flex;
  align-items: center;
  margin-bottom: 4rem;
}
.joinUs .container {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.joinUs h3 {
  font-size: 3rem;
}
.joinUs span {
  width: 4px;
  height: 3rem;
  display: block;
  background-color: #fff;
}
.joinUs ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 40%;
}
.joinUs ul li {
  width: 24%;
  margin: auto;
}
.joinUs ul div {
  width: 75%;
  margin: auto;
}
.joinUs ul div img {
  width: 100%;
}
.joinUs ul li i {
  font-size: 3rem;
  color: #000;
}
.joinUs ul li:last-child {
  display: none;
}

.joinUs button {
  outline: none;
  width: 7rem;
  border-radius: 20px;
  padding: 0.5rem;
  background-image: linear-gradient(to right, #8181d5, #67fdec);
  color: #fff;
}

@media (min-width: 481px) and (max-width: 767px) {
  .joinUs {
    height: 12vh;
  }
  .joinUs h3 {
    font-size: 1rem;
  }
  .joinUs span {
    height: 1rem;
    width: 2px;
  }
  .joinUs ul li a i {
    font-size: 1rem;
  }
  .joinUs button {
    width: 5rem;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .joinUs {
    height: 12vh;
  }
  .joinUs h3 {
    font-size: 1rem;
  }
  .joinUs span {
    height: 1rem;
    width: 2px;
  }
  .joinUs ul li a i {
    font-size: 1rem;
  }
  .joinUs button {
    width: 5rem;
  }
}
