.postHeader {
  background-image: url("../../images/side-posts-1.jpg");
  background-size: cover;
  height: 70vh;
}
.postHeader button {
  display: block;
  width: 10rem;
  border-radius: 0 20px 20px 0;
  font-size: 1.5rem;
  color: #000;
  padding: 0.5rem;
  margin: 2rem 0;
}
