.details {
  height: 200vh;
}
.posts {
  margin-top: 3rem;
  height: 290vh;
}
.posts > .container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  column-gap: 3rem;
}
.mainPosts {
  position: relative;
  padding-bottom: 2rem;
}
.mainPosts .avatar {
  height: 30vh;
  display: flex;
  align-items: center;
}
.mainPosts .avatar img {
  width: 25%;
  border-radius: 50%;
}
.mainPosts .avatar .content {
  display: inline-block;
  margin: 0 0 0 2rem;
}

.mainPosts video {
  width: 100%;
}
.mainPosts p {
  line-height: 2rem;
}

/* ========== Starting The Sidebar ======== */
.sidePosts {
  margin: 2rem 0;
}
.mainPosts .sidePostsHeader {
  margin: 2rem 0;
  font-size: 1.5rem;
  border: 1px solid #000;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.mainPosts .sidePostsHeader input::after {
  width: 2px;
  height: 2rem;
  background-color: #000;
  display: block;
}
.mainPosts .sidePostsHeader input {
  font-size: 1.5rem;
  outline: none;
}
.sidePosts img {
  width: 100%;
}
.sidePosts .sidePostsItem {
  margin: 2rem 0;
}
.sidePosts h3 {
  margin: 1.5rem 0;
  font-size: 2rem;
}
.sidePosts .sidePostsContent p {
  margin: 0.5rem 0;
}
.sidePostsItem {
  display: flex;
}
.sidePostsItem .sideImg {
  width: 45%;
}
.sidePostsItem .sidePostsContent {
  width: 55%;
  padding: 0 0.5rem;
}
.sidePostsItem .info {
  margin: 1rem 0;
}
.sidePostsItem .info span {
  display: inline-block;
  padding: 0 0.2rem;
}
.sidePosts .info span:nth-child(1) {
  border-right: 1px solid #000;
}
.sidePostsItem a {
  color: #1f1f1f;
}
.subscribe {
  border: 2px solid #000;
  height: 50vh;
  display: none;
}
.subscribe p {
  margin: 2rem 0;
  font-size: 1.5rem;
}
.subscribe h2 {
  font-size: 4rem;
}
.subscribe input {
  display: block;
  margin: 1.5rem;
  font-size: 1.5rem;
  border-bottom: 1px solid #000;
  padding-bottom: 0.5rem;
}
.subscribe button {
  display: inline-block;
  width: 15rem;
  background-color: #13699b;
  font-size: 1.5rem;
  text-align: center;
  padding: 1rem;
  border-radius: 2rem;
  outline: none;
  margin: auto;
}

.category .social {
  margin: 2rem 0;

  display: flex;
  justify-content: flex-start;
  flex-direction: row;
}
.category i {
  display: inline-block;
  margin: 0 2rem;
  color: #1edbdb;
  font-size: 4rem;
  border-radius: 50%;
}
.category h6 {
  font-size: 3rem;
}
.category li {
  font-size: 2rem;
  margin: 1rem 0;
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .posts {
    height: 950vh;
  }
  .posts .container {
    grid-template-columns: 1fr;
    width: 95vw;
  }
  .mainPosts .postsItems {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
    width: 95vw;
    margin: 0;
  }
  .postsItem {
  }
  .postsItemContainer {
    box-shadow: none;
  }
  .postsItem p {
    display: none;
  }

  .postsItems .postsItem .postsItemContainer {
    width: 95%;
    margin: 2rem auto;
  }
  .postsItemContainer .container > div {
    width: 85%;
    margin: auto;
  }
  .postsItemContainer .container > div h3 {
    text-align: center;
    font-size: 1rem;
    margin: 0;
    text-align: left;
  }
  .postsItemContainer button {
    display: none;
  }

  .mainPosts .loadmore {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90vw;
  }
  .mainPosts .loadmore button {
    width: 8rem;
    font-size: 1rem;
    padding: 0.5rem;
    margin: 0 1rem;
  }

  .mainPosts .loadmore hr {
    height: 2px;
    flex-grow: 0;
    display: none;
  }
  .mainPosts .sidePostsHeader {
    font-size: 1rem;
    width: 40vw;
    margin: auto;
  }
  .mainPosts .sidePostsHeader input {
    font-size: 1rem;
  }
  /* =================== Side Posts ====================== */
  .sidePostsItem .sideImg {
    width: 20%;
  }
  .sidePostsItem h2 {
    font-size: 0.9rem;
  }
  .sidePostsItem .info {
    margin: 0;
  }
  .subscribe {
    width: 70vw;
    padding: 0 2rem;
    margin: auto;
  }
  .subscribe h2 {
    font-size: 2rem;
  }
  .subscribe input {
    font-size: 1rem;
  }
  .category .social {
    justify-content: space-around;
  }
  .social i {
    margin: 0;
    font-size: 2rem;
  }
  .category h6 {
    font-size: 2rem;
  }

  .category li {
    font-size: 1.5rem;
  }
}

@media only screen and (min-width: 767px) and (max-width: 855px) {
  .posts {
    height: 840vh;
  }
}
@media only screen and (min-width: 855px) and (max-width: 900px) {
  .posts {
    height: 870vh;
  }
}
@media (min-width: 481px) and (max-width: 767px) {
  .posts {
    height: 785vh;
  }
  .posts .container {
    grid-template-columns: 1fr;
    width: 95vw;
  }
  .mainPosts .postsItems {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
    width: 95vw;
    margin: 0;
  }
  .postsItem {
  }
  .postsItemContainer {
    box-shadow: none;
  }
  .postsItem p {
    display: none;
  }

  .postsItems .postsItem .postsItemContainer {
    width: 95%;
    margin: 2rem auto;
  }
  .postsItemContainer .container > div {
    width: 85%;
    margin: auto;
  }
  .postsItemContainer .container > div h3 {
    text-align: center;
    font-size: 1rem;
    margin: 0;
    text-align: left;
  }
  .postsItemContainer button {
    display: none;
  }

  .mainPosts .loadmore {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90vw;
  }
  .mainPosts .loadmore button {
    width: 8rem;
    font-size: 1rem;
    padding: 0.5rem;
    margin: 0 1rem;
  }

  .mainPosts .loadmore hr {
    height: 2px;
    flex-grow: 0;
    display: none;
  }
  .mainPosts .sidePostsHeader {
    font-size: 1rem;
    width: 40vw;
    margin: auto;
  }
  .mainPosts .sidePostsHeader input {
    font-size: 1rem;
  }
  /* =================== Side Posts ====================== */
  .sidePostsItem .sideImg {
    width: 20%;
  }
  .sidePostsItem h2 {
    font-size: 0.9rem;
  }
  .sidePostsItem .info {
    margin: 0;
  }
  .subscribe {
    width: 70vw;
    padding: 0 2rem;
    margin: auto;
  }
  .subscribe h2 {
    font-size: 2rem;
  }
  .subscribe input {
    font-size: 1rem;
  }
  .category .social {
    justify-content: space-around;
  }
  .social i {
    margin: 0;
    font-size: 2rem;
  }
  .category h6 {
    font-size: 2rem;
  }

  .category li {
    font-size: 1.5rem;
  }
}

@media (min-width: 481px) and (max-width: 700px) {
  .posts {
    height: 738vh;
  }
}

@media (min-width: 540px) and (max-width: 640px) {
  .posts {
    height: 712vh;
  }
}
@media (min-width: 481px) and (max-width: 538px) {
  .posts {
    height: 654vh;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .posts {
    height: 585vh;
  }
  .posts .container {
    grid-template-columns: 1fr;
    width: 95vw;
  }
  .mainPosts .postsItems {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
    width: 95vw;
    margin: 0;
  }
  .postsItem {
  }
  .postsItemContainer {
    box-shadow: none;
  }
  .postsItem p {
    display: none;
  }

  .postsItems .postsItem .postsItemContainer {
    width: 95%;
    margin: 2rem auto;
  }
  .postsItemContainer .container > div {
    width: 85%;
    margin: auto;
  }
  .postsItemContainer .container > div h3 {
    text-align: center;
    font-size: 1rem;
    margin: 0;
    text-align: left;
  }
  .postsItemContainer button {
    display: none;
  }

  .mainPosts .loadmore {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90vw;
  }
  .mainPosts .loadmore button {
    width: 8rem;
    font-size: 1rem;
    padding: 0.5rem;
    margin: 0 1rem;
  }

  .mainPosts .loadmore hr {
    height: 2px;
    flex-grow: 0;
    display: none;
  }
  .mainPosts .sidePostsHeader {
    font-size: 1rem;
    width: 90vw;
  }
  .mainPosts .sidePostsHeader input {
    font-size: 1rem;
  }
  /* =================== Side Posts ====================== */
  .sidePostsItem .sideImg {
    width: 20%;
  }
  .sidePostsItem h2 {
    font-size: 0.9rem;
  }
  .sidePostsItem .info {
    margin: 0;
  }
  .subscribe {
    width: 90vw;
    padding: 0 2rem;
  }
  .subscribe h2 {
    font-size: 2rem;
  }
  .subscribe input {
    font-size: 1rem;
  }
  .category .social {
    justify-content: space-around;
  }
  .social i {
    margin: 0;
    font-size: 2rem;
  }
  .category h6 {
    font-size: 2rem;
  }

  .category li {
    font-size: 1.5rem;
  }
}
@media (min-width: 337px) and (max-width: 480px) {
  .posts {
    height: 630vh;
  }
}
