.news{
    display: grid;
    grid-template-columns: 2fr 1fr;
    width: 1200px;
    column-gap: 2rem;
    margin-top: 2rem;
    overflow: visible;
}
@media only screen and (max-width:1200px){
    .news{
        width: 700px;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }
}
@media only screen and (max-width:767px){
    .news{
        width: 90%;
    }
}