.navbar:nth-child(1) {
  background-color: #13699b;
  color: #fff;
  height: 3rem;
  display: flex;
  align-items: center;
}
.navbar:nth-child(1) h2 {
  font-size: 0.75rem;
}

.navbar .container {
  display: flex;
  align-items: center;
}

.navbar:nth-child(1) .logo {
  width: 20%;

  margin-left: 1rem;
}
.navbar ul {
  width: 80%;
  display: flex;
  justify-content: space-between;
}
.navbar ul li {
  display: inline-block;
  margin-left: 2rem;
  font-size: 0.75rem;
}
.navbar ul li span {
  color: #f89566;
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .navbar ul li {
    margin-left: 0;
  }
}
@media (min-width: 481px) and (max-width: 767px) {
  .navbar:nth-child(1) .logo {
    width: 100%;
    margin: auto;
  }
  .navbar:nth-child(1) .logo {
    text-align: center;
  }
  .navbar .container {
    flex-wrap: wrap;
  }
  .navbar:nth-child(1) ul {
    flex-wrap: wrap;
    justify-content: space-around;
    width: 90%;
  }
  .navbar:nth-child(1) ul li {
    margin: 0 0.2rem;
    font-size: 0.75rem;
  }
}
@media (min-width: 320px) and (max-width: 480px) {
  .navbar:nth-child(1) {
    height: 4rem;
  }
  .navbar:nth-child(1) .logo {
    width: 100%;
    margin: auto;
  }
  .navbar:nth-child(1) .logo {
    text-align: center;
  }
  .navbar .container {
    flex-wrap: wrap;
  }
  .navbar:nth-child(1) ul {
    flex-wrap: wrap;
    justify-content: space-around;
    width: 90%;
  }
  .navbar:nth-child(1) ul li {
    margin: 0 0.2rem;
    font-size: 0.75rem;
  }
}
