.main-navbar {
  height: 2rem;
  margin: 4rem 0;
}

.main-navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-navbar .container .logo {
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-navbar .container .logo h1 {
  display: inline-block;
  font-size: 2.5rem;
  color: #13699b;
}
.main-navbar .container .logo span {
  font-size: 2.5rem;
  color: #13699b;
  font-style: normal;
}
.main-navbar .container .logo img {
  width: 12%;
}
.main-navbar ul {
  width: 50%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin: auto;
}
.main-navbar ul li {
}
.main-navbar ul li a {
  color: #13699b;
  text-decoration: none;
  font-size: 1.5rem;
}
.main-navbar .nav-end {
  width: 25%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5rem;
  color: #13699b;
}
.main-navbar i {
}

.main-navbar button {
  border: 2px solid #13699b;
  border-radius: 20px;
  outline: none;
  font-size: 1.5rem;
  padding: 1rem;
  padding: 0.5rem;
  background-color: #fff;
  color: #13699b;
  width: 10rem;
}
.main-navbar .nav-end span {
  width: 2px;
  height: 2.5rem;
  background-color: #13699b;
  display: inline-block;
}
