.partner {
  width: 80%;
  margin: 2rem auto;
  background-color: #deedfc;
  padding: 1rem;
  position: relative;
}
.partner__heading {
  font-size: 2rem;
  color: #044f8d;
  margin-bottom: 0.5rem;
}
.partner__hr {
  margin-bottom: 0.5rem;
}
.partner__wrapper {
  display: flex;
}
.partner__logo {
  width: 10rem;
  min-width: 10rem;
  padding-right: 1rem;
}
.partner__image {
  width: 100%;
}
.partner__highlighted {
  position: absolute;
  right: 2%;
  top: -10%;
}
.delete{
  background-color: red ;
  background-image: none;
  height: 2rem;
  width: 5rem;
  margin: 0 2rem;
}
.highlighted{
  background-color: #044f8d ;
  background-image: none;
  height: 2rem;
  width: 7rem;
  margin-left: 2rem;
}
