.navOpen {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 100;
  background-color: rgba(151, 154, 163, 0.7);
}

.mainHeader {
  width: 100vw;
  background-image: none;
  padding: 1px;
  color: #13699b;
  height: 100vh;
}
.headerContentWrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  position: relative;
}
.headerContentWrapper .container {
  width: 40%;
  margin: 0;
  position: absolute;
  left: 4rem;
}
.headerImage {
  width: 70vw;
  height: 50vh;
  order: -1;
  position: absolute;
  right: 0;
}
.headerImage img {
  width: 100%;
}

.headerContent {
  width: 100%;
  margin: 6rem 0;
  padding-left: 5rem;
}
.headerContent h1 {
  display: inline-block;
}
.headerContent h4 {
  color: #ffbd52;
}

.headerContent p {
  margin: 2rem 0;
  font-size: 1rem;
}
.headerContent button {
  outline: none;
  width: 7rem;
  border-radius: 20px;
  padding: 0.5rem;
  background-image: linear-gradient(to right, #8181d5, #67fdec);
  color: #fff;
}
@media only screen and (min-width: 1024px) {
  .headerImage {
    width: 59vw;
    order: 0;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .main-header {
    height: 80vh;
  }
  .headerImage {
    width: 60vw;
    order: 0;
  }

  .headerContent {
    width: 40vw;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  .headerImage {
    width: 90vw;
  }
  .headerContentWrapper .container {
    width: 80%;
  }
  .headerContent {
    width: 100%;
    position: absolute;
    top: 60vh;
    left: 0;
    margin: 0;
    padding: 0;
  }
  .headerContent p {
    width: 70%;
  }
}
@media (min-width: 320px) and (max-width: 480px) {
  .headerContent {
    width: 75%;
    margin: auto;
    padding: 0;
  }
  .headerContentWrapper {
    flex-wrap: wrap;
  }
  .headerContentWrapper .container {
    width: 80%;
  }
  .headerContentWrapper .container {
    width: 100%;
    margin: 0;
    position: absolute;
    left: 0rem;
    top: 38vh;
  }

  .headerImage {
    width: 90vw;
    order: -1;
  }
}
