* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
input {
  border: 0;
}
button {
  border: none;
}
.centered {
  margin: auto;
  text-align: center;
}

.container {
  width: 90vw;
  margin: auto;
  overflow: hidden;
}
.list-unstyled {
  list-style-type: none;
}
button {
  cursor: pointer;
}
