* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
input {
  border: 0;
}
button {
  border: none;
}
.centered {
  margin: auto;
  text-align: center;
}

.container {
  width: 90%;
  margin: auto;
  overflow: hidden;
}
.list-unstyled {
  list-style-type: none;
}
button {
  cursor: pointer;
  width: 8rem;
  font-size: 1rem;
  padding: 0.5rem;
  background-image: linear-gradient(
    to right,
    rgb(128, 131, 213),
    rgb(104, 246, 235)
  );
  border-radius: 2rem;
  color: #fff;
}
#root {
  margin: auto;
  overflow: hidden;
}
