.sponsors {
  text-align: center;
}

.sponsors .line {
  width: 8rem;
  border: none;
  height: 1px;
  display: inline-block;
  margin: auto;
  margin-bottom: 4rem;
  background-color: #8183d6;
}
.sponsors > h4 {
  color: #13699b;
  margin-bottom: 3rem;
  font-size: 2rem;
}
.sponsors .about {
  height: auto;
}
.sponsors .logos {
  position: relative;
}
.sponsors i {
  position: absolute;
  color: #13699b;
}
.sponsors i:nth-child(1) {
  left: 0;
  bottom: 50%;
}
.sponsors i:nth-child(2) {
  right: 0;
  bottom: 50%;
}
.sponsors .sponsorsDetails {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.sponsorsDetails .imageContainer {
  width: 100%;
}
.sponsorsDetails .imageContainer img {
  width: 100%;
}
.sponsorsDetailsContent {
  display: flex;
  text-align: left;
  flex-direction: column;
  padding-right: 2rem;
  background-image: url("../../images/orbit2.png");
  background-size: cover;
  color: #13699b;
}
.sponsorsDetailsContent hr {
  display: inline-block;
  margin-bottom: 2rem;
  width: 4rem;
  height: 1px;
  border: none;
  background-color: #13699b;
}

@media (min-width: 481px) and (max-width: 767px) {
  .sponsors .line {
    margin-bottom: 2rem;
  }
  .sponsors > h4 {
    margin-bottom: 6rem;
  }
  .logos div:nth-of-type(1),
  .logos div:nth-of-type(4),
  .logos div :nth-of-type(5) {
    display: none;
  }
  .sponsors .sponsorsDetails {
    margin-top: 2rem;
    grid-template-columns: 1fr;
  }
  .sponsors .sponsorsDetails .sponsorsDetailsContent {
    margin-top: 2rem;
  }
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
  .sponsors .line {
    margin-bottom: 2rem;
  }
  .sponsors > h4 {
    margin-bottom: 6rem;
  }
  .logos div:nth-of-type(1),
  .logos div:nth-of-type(4),
  .logos div :nth-of-type(5) {
    display: none;
  }
  .sponsors .sponsorsDetails {
    margin-top: 2rem;
    grid-template-columns: 1fr;
  }
  .sponsors .sponsorsDetails .sponsorsDetailsContent {
    margin-top: 2rem;
  }
}
