.header {
  height: 60vh;
  display: flex;
  color: rgb(28, 111, 159);
  flex-wrap: wrap;
}
.header .headerImage {
  width: 60%;
  order: 2;
}
.header .headerImage img {
  width: 100%;
}
.header .container {
  width: 40%;
}
.headerContent {
  width: 30%;
  margin: 4rem auto 0 auto;
  order: 1;
}
.header h2 + p {
  font-weight: bold;
  color: rgb(255, 190, 84);
  margin: 1rem auto;
}
.header p + button {
  margin-top: 2rem;
}

@media (min-width: 481px) and (max-width: 767px) {
  .header {
    height: 85vh;
  }
  .header .headerImage {
    order: 1;
    width: 100%;
  }
  .headerContent {
    order: 2;
    width: 90%;
    margin: auto;
  }
}
@media only screen and (min-width: 320px) and (max-width: 480px) {
  .header {
    height: 70vh;
  }
  .header .headerImage {
    order: 1;
    width: 100%;
  }
  .headerContent {
    order: 2;
    width: 90%;
    margin: auto;
  }
}
